/* main color #757575;
  */
/* seconady color #212121;
*/
/* white  #FFFFFF */
/* accent */
/* blue  #2196F3 */
:root {
--primary-text-color: #757575;
--secondary-text-color: #212121;
--accent-text-color: #2196F3;
--white-color: #ffffff;  
}
body {
background-color: #FFFFFF;
color: var(--primary-text-color);
font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.pointer {
  cursor: pointer;
}

                                     /* header */
.header {
  background-color: #ffffcb;
}                                    
.logo {
font-family: 'Raleway', sans-serif;
font-size: 26px;
line-height: 1.2;
color: var(--accent-text-color);
text-decoration: none;
}
.logo-part {
color: #000000; 
}

.nav-site-link {
font-family: inherit; 
font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: var(--secondary-text-color);
text-decoration:none;
}
.nav-site-link:hover, 
.nav-site-link:focus  {
color: var(--accent-text-color);
}
.nav-site .nav-site-link.current {
  color: var(--accent-text-color);
}
.contacts-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
  text-decoration:none;
}
.contacts-text:hover, 
.contacts-text:focus {
  color: var(--accent-text-color);
}  
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
  background-color: aquamarine;
}
 
                                   /* main  */
.hero { 
  margin-top: 0;
  margin-bottom: 94px;
background-color: #2F303A;
text-align: center;
width: 1600px;
height: 600px;
}  
.section {
  margin-top: 0;
  margin-bottom: 94px;
}                                   
.hero-title {
  background-color: purple;
  margin-top: 200px;
  margin-bottom: 30px;
font-weight: 900;
font-size: 44px;
line-height: 1.4;
color: #FFFFFF;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 0;
  margin-bottom: 200px;
  min-width: 216px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: var(--white-color);
  align-items: center;
  background-color: var(--accent-text-color);
  border: 1px solid transparent;
  border-radius: 7px;
  }
.section-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  text-align: center; 
}
.deal > .section-title {
  margin-bottom: 50px;
  margin-top: 0;
  background-color: #765496;
}
.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  text-transform: uppercase; 
}
.advantages-item {
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.7; 
}


.team-sect {background-color: #F5F4FA;
} 
.title-team {
  margin-top: 0;
  margin-bottom: 50px;
  background-color: #cca55d;
  }
  .team {
    margin-top: 0;
    margin-bottom: 94px;
  }
  .team-image {
    margin-top: 0;
    margin-bottom: 30px;
  }
.team-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  text-align: center;
}
.team-position {
  margin-top: 0;
  margin-bottom: 30px ;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
                                 /* footer */
.footer {background-color: #2F303A;}                                  
.adress-location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
  text-decoration: none;
}
.logo-part-bottom {
  color: #FFFFFF;
}
.adress-mail,
.adress-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
                                   /* portolio */
                   
.cards a {
  text-decoration: none;
}                                    
.filter-item {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.6;
 color: var(--secondary-text-color);
 text-align: center; 
 background-color: #F5F4FA;
 border: none;
 border-radius: 4px;
}
.filter-item:hover,
.filter-item:focus {
  color: var(--white-color);
  background-color: var(--accent-text-color);
}
.cards-disc {
 font-weight: 700;
 font-size: 18px;
 line-height: 2;
 color: var(--secondary-text-color);
}
.cards-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}
